<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selfmade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Selfmade">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrchidActivity">

        </activity>

        <activity android:name=".RosesActivity">

        </activity>

        <activity android:name=".GerberaDaisyActivity">

        </activity>

        <activity android:name=".AlstroemeriaActivity">

        </activity>

        <activity android:name=".LiliesActivity">

        </activity>

        <activity android:name=".TulipActivity">

        </activity>
    </application>

</manifest>